<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="insurance" translate="label" type="text" sortOrder="320" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Shipping Insurance</label>
            <tab>sales</tab>
            <resource>Magento_Backend::content</resource>
            <group id="general" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Settings</label>
                <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Is Enabled The Shipping Insurance?</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <!--<field id="delivery" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">-->
                    <!--<label>Available Shipping Methods</label>-->
                    <!--<source_model>Mixal\Insurance\Model\Config\Source\DeliveryMethod</source_model>-->
                <!--</field>-->
                <!--<field id="available" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">-->
                    <!--<label>Is Enabled The Shipping Insurance?</label>-->
                    <!--<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>-->
                <!--</field>-->
                <field id="pricetype" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Price Type</label>
                    <source_model>Mixal\Insurance\Model\Config\Source\PriceType</source_model>
                    <depends><field id="available">1</field></depends>
                </field>
                <field id="price" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Shipping insurance value</label>
                    <validate>required-entry validate-number</validate>
                    <depends><field id="available">1</field></depends>
                </field>
            </group>
        </section>
    </system>
</config>
