<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <insurance>
            <general>
                <active>0</active>
                <pricetype>0</pricetype>
                <price>0</price>
            </general>
        </insurance>
    </default>
</config>
