<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Mixal\Insurance\Model\Calculation\Calculator\CalculatorInterface"
                type="Mixal\Insurance\Model\Calculation\CalculationService"/>
    <type name="Magento\Checkout\Model\ShippingInformationManagement">
        <plugin name="mixal_insurance_order_extension_attribute"
                type="Mixal\Insurance\Plugin\Checkout\Model\ShippingInformationManagement" sortOrder="1"/>
    </type>
</config>
